<div class="overlay"></div>
<div class="cover"></div>
<div class="ibox login-content">
    <div class="text-center">
        <span class="auth-head-icon"><i class="ti-lock"></i></span>
    </div>
    <form class="ibox-body pt-0" id="lock-form" action="javascript:;" method="POST">
        <h4 class="font-strong text-center mb-4">USER</h4>
        <div class="row pt-3">
            <div class="col-4">
                <img class="img-circle" src="./assets/img/users/admin-image.png" alt="image" width="110" />
            </div>
            <div class="col-8">
                <p class="font-13">Your are in lock screen. Enter your password to retrieve your session</p>
                <div class="form-group mb-5">
                    <input class="form-control" type="password" name="password" placeholder="******">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        <span class="btn-icon"><i class="ti-lock"></i>UNLOCK</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
