<div class="page-brand">
    <a routerLink="/portfolio">
        <span class="brand">Trading Idea Factory</span>
        <span class="brand-mini">TIF</span>
    </a>
</div>
<div class="flexbox flex-1">
    <!-- START TOP-LEFT TOOLBAR-->
    <ul class="nav navbar-toolbar">
        <li>
            <a class="nav-link sidebar-toggler js-sidebar-toggler" href="javascript:;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </li>
        <li>
            <a class="nav-link search-toggler js-search-toggler"><i class="ti-search"></i>
                <span>Search here...</span>
            </a>
        </li>
    </ul>
    <!-- END TOP-LEFT TOOLBAR-->
    <!-- START TOP-RIGHT TOOLBAR-->
    <ul class="nav navbar-toolbar">
        <li class="timeout-toggler">
          <a class="nav-link toolbar-icon" data-toggle="modal" data-target="#session-dialog" href="javascript:;"><i class="ti-alarm-clock timeout-toggler-icon rel"><span class="notify-signal"></span></i></a>
        </li>
        <li class="dropdown dropdown-notification">
            <a class="nav-link dropdown-toggle toolbar-icon" data-toggle="dropdown" href="javascript:;"><i class="ti-bell rel"><span class="notify-signal"></span></i></a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                <div class="dropdown-arrow"></div>
                <div class="dropdown-header text-center">
                    <div>
                        <span class="font-18"><strong>14 New</strong> Notifications</span>
                    </div>
                    <a class="text-muted font-13" href="javascript:;">view all</a>
                </div>
                <div class="p-3">
                    <ul class="scroller" data-height="320px">
                    </ul>
                </div>
            </div>
        </li>
        <li *ngIf="profile.nickname" class="dropdown dropdown-user">
            <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                <span>{{profile.nickname}}</span>
                <div class="user-image" [ngStyle]="{'background-image': 'url(' + profile.picture + ')'}"></div>
            </a>
            <div class="dropdown-menu dropdown-arrow dropdown-menu-right admin-dropdown-menu">
                <div class="dropdown-arrow"></div>
                <div class="dropdown-header">
                    <div class="admin-avatar">
                        <img [src]="profile.picture" alt="image" />
                    </div>
                    <div>
                        <h5 class="font-strong text-white">{{profile.nickname}}</h5>
                        <div>
                            <span class="admin-badge mr-3"><i class="ti-alarm-clock mr-2"></i>30m.</span>
                            <span class="admin-badge"><i class="ti-lock mr-2"></i>Safe Mode</span>
                        </div>
                    </div>
                </div>
                <div class="admin-menu-features">
                    <a class="admin-features-item" href="javascript:;"><i class="ti-user"></i>
                        <span>PROFILE</span>
                    </a>
                    <a class="admin-features-item" href="javascript:;"><i class="ti-support"></i>
                        <span>SUPPORT</span>
                    </a>
                    <a class="admin-features-item" href="javascript:;"><i class="ti-settings"></i>
                        <span>SETTINGS</span>
                    </a>
                </div>
                <div class="admin-menu-content">
                    <div class="text-muted mb-2">Your Wallet</div>
                    <div><i class="ti-wallet h1 mr-3 text-light"></i>
                        <span class="h1 text-success"><sup>$</sup>12.7k</span>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <a class="text-muted" href="javascript:;">Earnings history</a>
                        <a class="d-flex align-items-center" href="javascript:;" (click)="logout()">Logout<i class="ti-shift-right ml-2 font-20"></i></a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a class="nav-link quick-sidebar-toggler">
                <span class="ti-align-right"></span>
            </a>
        </li>
    </ul>
    <!-- END TOP-RIGHT TOOLBAR-->
</div>
