<mat-dialog-actions  class="text-right">
  <button mat-dialog-close class="btn close-button"><i class="la la-close la-lg" aria-hidden="true"></i></button>
</mat-dialog-actions>
<mat-dialog-content>
  <div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">Create New Portfolio</div>
    </div> 
    <div class="ibox-body">
      <h6 class="font-strong mb-4">Please enter the details below:</h6>
      <form [formGroup]="createPortfolioForm" (ngSubmit)="createNewPortfolio(createPortfolioForm.value)" novalidate>
        <div class="form-group mb-4">
          <label>Portfolio Name</label>
          <input type="text" formControlName="name" class="form-control form-control-solid" placeholder="Enter the name">
          <div class="alert alert-danger alert-bordered" *ngIf="!createPortfolioForm.controls['name'].valid && createPortfolioForm.controls['name'].touched">
            The name is required and should contain at least five characters
          </div>
        </div>   
        <div class="form-group mb-4">
          <label>Account Balance</label>
          <div class="input-group">
            <input type="text" formControlName="account_balance" class="form-control form-control-solid" placeholder="Enter an account balance">
            <div class="input-group-btn">
              <select formControlName="currency" class="form-control form-control-solid">
                <option [value]="undefined" disabled selected></option>
                <option *ngFor="let item of currencies" [value]="item">{{item}}</option>
              </select>    
            </div>
          </div>
          <div class="alert alert-danger alert-bordered" *ngIf="!createPortfolioForm.controls['account_balance'].valid && createPortfolioForm.controls['account_balance'].touched">
            An account balance is required and should be a number
          </div>
          <div class="alert alert-danger alert-bordered" *ngIf="!createPortfolioForm.controls['currency'].valid && createPortfolioForm.controls['currency'].touched">
            Choose a currency
          </div>
        </div>  
      </form>
    </div>       
  </div>
</mat-dialog-content>
<mat-dialog-actions class="text-center footer-dialog-button">
  <button mat-dialog-close class="btn btn-secondary btn-air">Close</button>
  <button class="btn btn-success btn-air" (click)="createNewPortfolio(createPortfolioForm.value)" [disabled]="!createPortfolioForm.valid">Save Changes</button>
</mat-dialog-actions>