<!-- BEGIN PAGE LOADER  -->
<div class="preloader-backdrop">
  <div class="preloader-inner">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>
<!-- END PAGE LOADER  -->

<!-- BEGIN PAGE  -->
<router-outlet></router-outlet>
<!-- END PAGE  -->

<!-- START SEARCH PANEL-->
<form class="search-top-bar" action="javascript:;" method="POST">
  <input class="form-control search-input" type="text" placeholder="Search...">
  <button class="reset input-search-icon"><i class="ti-search"></i></button>
  <button class="reset input-search-close" type="button"><i class="ti-close"></i></button>
</form>
<!-- END SEARCH PANEL -->

<!-- BEGIN THEME CONFIG PANEL -->
<div class="theme-config">
  <div class="theme-config-toggle"><i class="ti-settings theme-config-show"></i><i class="ti-close theme-config-close"></i></div>
  <div class="theme-config-box">
    <h5 class="text-center mb-4 mt-3">SETTINGS</h5>
    <div class="font-strong mb-3">LAYOUT OPTIONS</div>
    <div class="check-list mb-4">
      <label class="checkbox checkbox-grey checkbox-primary">
        <input id="_fixedNavbar" type="checkbox" checked><span class="input-span"></span>Fixed navbar
      </label>
      <label class="checkbox checkbox-grey checkbox-primary mt-3">
        <input id="_fixedlayout" type="checkbox"><span class="input-span"></span>Fixed layout
      </label>
      <label class="checkbox checkbox-grey checkbox-primary mt-3">
        <input class="js-sidebar-toggler" type="checkbox"><span class="input-span"></span>Collapse sidebar
      </label>
      <label class="checkbox checkbox-grey checkbox-primary mt-3">
        <input id="_drawerSidebar" type="checkbox"><span class="input-span"></span>Drawer sidebar
      </label>
    </div>
    <div class="font-strong mb-3">LAYOUT STYLE</div>
    <div class="check-list mb-4">
      <label class="radio radio-grey radio-primary">
        <input type="radio" name="layout-style" value="" checked=""><span class="input-span"></span>Fluid
      </label>
      <label class="radio radio-grey radio-primary mt-3">
        <input type="radio" name="layout-style" value="1"><span class="input-span"></span>Boxed
      </label>
    </div>
  </div>
</div>
<!-- END THEME CONFIG PANEL -->

<!-- BEGIN PAGA BACKDROP -->
<div class="sidenav-backdrop backdrop"></div>
<!-- END PAGA BACKDROP -->

<!-- SCROLL TOP -->
<div class="to-top"><i class="fa fa-angle-double-up"></i></div>
<!-- END SCROLL TOP -->

<!-- SESSION TIMEOUT MODAL -->
<div class="modal fade" id="session-dialog">
  <div class="modal-dialog" style="width:400px;" role="document">
    <div class="modal-content timeout-modal">
      <div class="modal-body">
        <button class="close" data-dismiss="modal" aria-label="Close"></button>
        <div class="text-center mt-3 mb-4"><i class="ti-lock timeout-icon"></i></div>
        <div class="text-center h4 mb-3">Set Auto Logout</div>
        <p class="text-center mb-4">You are about to be signed out due to inactivity.<br>Select after how many minutes of inactivity you log out of the system.</p>
        <div id="timeout-reset-box" style="display:none;">
          <div class="form-group text-center">
            <button class="btn btn-danger btn-fix btn-air" id="timeout-reset">Deactivate</button>
          </div>
        </div>
        <div id="timeout-activate-box">
          <form id="timeout-form" action="javascript:;">
            <div class="form-group pl-3 pr-3 mb-5">
              <input class="form-control form-control-line" type="text" name="timeout_count" placeholder="Minutes" id="timeout-count">
            </div>
            <div class="form-group text-center">
              <button class="btn btn-primary btn-fix btn-air" id="timeout-activate">Activate</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END SESSION TIMEOUT MODAL -->
    
<!-- QUICK SIDEBAR-->
<div class="quick-sidebar">
  <ul class="nav nav-tabs tabs-line">
    <li class="nav-item"><a class="nav-link active" href="#tab-1" data-toggle="tab"><i class="ti-comment"></i>
        <div>Messages</div></a></li>
    <li class="nav-item"><a class="nav-link" href="#tab-2" data-toggle="tab"><i class="ti-settings"></i>
        <div>Settings</div></a></li>
    <li class="nav-item"><a class="nav-link" href="#tab-3" data-toggle="tab"><i class="ti-notepad"></i>
        <div>Logs</div></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane chat-panel active" id="tab-1">
      <div class="chat-list">
        <div class="scroller">
        </div>
      </div>
      <div class="messenger">
      </div>
    </div>
    <div class="tab-pane" id="tab-2">
      <div class="scroller">
        <div class="font-bold mb-4 mt-2">APP SETTINGS</div>
        <div class="settings-item">Show notifications
          <label class="ui-switch switch-icon">
            <input type="checkbox"><span></span>
          </label>
        </div>
        <div class="settings-item">Enable autologout
          <label class="ui-switch switch-icon">
            <input type="checkbox" checked><span></span>
          </label>
        </div>
        <div class="settings-item">Show recent activity
          <label class="ui-switch switch-icon">
            <input type="checkbox"><span></span>
          </label>
        </div>
        <div class="settings-item">Chat history
          <label class="ui-switch switch-icon">
            <input type="checkbox"><span></span>
          </label>
        </div>
        <div class="settings-item">Users activity
          <label class="ui-switch switch-icon">
            <input type="checkbox" checked><span></span>
          </label>
        </div>
        <div class="settings-item">Orders history
          <label class="ui-switch switch-icon">
            <input type="checkbox"><span></span>
          </label>
        </div>
        <div class="settings-item">SMS Alerts
          <label class="ui-switch switch-icon">
            <input type="checkbox"><span></span>
          </label>
        </div>
        <div class="font-bold mb-4">SYSTEM SETTINGS</div>
        <div class="settings-item">Error Reporting
          <label class="ui-switch switch-icon">
            <input type="checkbox" checked><span></span>
          </label>
        </div>
        <div class="settings-item">Server logs
          <label class="ui-switch switch-icon">
            <input type="checkbox"><span></span>
          </label>
        </div>
        <div class="settings-item">Global search
          <label class="ui-switch switch-icon">
            <input type="checkbox"><span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab-3">
      <div class="log-tabs"><a class="active" href="javascript:;" data-type="all" data-toggle="tooltip" data-original-title="All logs"><i class="ti-view-grid"></i></a><a href="javascript:;" data-type="server" data-toggle="tooltip" data-original-title="Server logs"><i class="ti-harddrives"></i></a><a href="javascript:;" data-type="app" data-toggle="tooltip" data-original-title="App logs"><i class="ti-pulse"></i></a></div>
      <div class="logs">
        <div class="scroller">
          <ul class="logs-list">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END QUICK SIDEBAR-->
