<div class="page-content">
  <div class="ibox mt-5 ibox-home">
    <div class="ibox-body text-center">
      <h2 class="my-5">
        Looks like you don't have a portfolio yet. <br>
        Please create a new portfolio by clicking the button below.
      </h2>
      <button class="btn btn-primary btn-labeled btn-labeled-left btn-icon btn-lg btn-air my-5" (click)="openNewPortfolioDialog()">
        <span class="btn-label"><i class="la la-plus-circle"></i></span>
        Create Portfolio
      </button>
    </div>
  </div>
</div>